<div class=""> <!-- col-md-12-->
    
   <!-- Hello World!

<div class="shufra-blue-primary">
    <p class="text-white">Hello World!</p>
</div>
    <button class="btn btn-primary"
    		ng-click="vm.message_modal()">
    	Modal {{orderProperty}}
    </button> -->
    <!--
    <div class="alert alert-info">
                    <p>Sort key: {{vm.sortKey}}</p>
                    <p>Reverse: {{vm.reverse}}</p>
                    <p>Search String : {{search}}</p>
    </div>   -->
     
 


    <div class="table-responsive">

        <div sticky offset="50" class="sticky" style="background-color:white">
            <table style="width:100%">
                 <tr>
                    <td style="width:70%"><h5 class="title-header">{{vm.titleHeader}}</h5></td>
                     
                     
               </tr>  
            </table>
            <table style="width:100%">
               <tr>
                    <td nowrap style="width:50%" class="search-control"  ng-class = "!pageCollapsed && 'in'">
                        <label><i class="fa fa-search" aria-hidden="true"></i>
                             <input class="form-control"  type="text" ng-model="vm.search.$" placeholder="Search here" required> 
                             <i class="fa fa-times-thin" ng-click="search=''"></i>
                        </label>
                    </td>
                    <td style="width:10%"  align=right>
                                <a class = "visible-xs"  
                                        ng-init = "pageCollapsed = true" 
                                        ng-click = "pageCollapsed = !pageCollapsed" >
                                        <span>
                                            <i class = "fa fa-bars fa-lg" ></i>
                                        </span>
                                </a>
                           
                     </td>
               </tr>
            <table>
            <table>
               <tr>
                    <td>
                         <dir-pagination-controls class="page-sticky" ng-class = "!pageCollapsed && 'in'" max-size="10" direction-links="true" boundary-links="true" ></dir-pagination-controls> 



                    </td>
                    <td style="width:105px;" align="right" valign="middle">
                        <span class="ft11"> Items per page: <span>
                    </td>
                     <td style="width:75px"> 

                         <select class="form-control" ng-model="vm.items_per_page" ng-class = "!pageCollapsed && 'in'" >
                                <option value="5">5</option>
                                <option ng-selected="true" value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                         </select> 
                    </td>
               </tr> 
            </table>
            
        </div>


        <!--  /***********************************************desktop********************************************/-->
    	<table  class="table table-bordered layout-table desktop">
    		<thead >
                <div sticky offset=100>
    			<tr >
                     <!--<th style="width:50px" ng-click="sort('id')">
                        <u-sort-page-directive sort-key="{{sortKey}}" reverse="{{reverse}}" label="ID" value="id"  ></u-sort-page-directive>
                    </th> -->
                     <th style="width:4%" ng-click="vm.sort('date')">
                        <u-sort-page-directive sort-key="{{vm.sortKey}}" reverse="{{vm.reverse}}" label="Date" value="date"  ></u-sort-page-directive>
                    </th>
                    <th style="width:4%" ng-click="vm.sort('reference_number')">
                        <u-sort-page-directive sort-key="{{vm.sortKey}}" reverse="{{vm.reverse}}" label="Reference No." value="reference_number"  ></u-sort-page-directive>
                    </th>
                     <th style="width:10%" ng-click="vm.sort('car_insurance_for')"> 
                        <u-sort-page-directive sort-key="{{vm.sortKey}}" reverse="{{vm.reverse}}" label="Car Insurance Quote for" value="car_insurance_for"  ></u-sort-page-directive> 
                    </th>
                     <th style="width:7%" ng-click="vm.sort('name')">
                        <u-sort-page-directive sort-key="{{vm.sortKey}}" reverse="{{vm.reverse}}" label="Name" value="name"  ></u-sort-page-directive>
                    </th>
                   
                  
                     <th style="width:5%">View</th>
    			</tr>
                </div>
    		</thead>
    		<tbody>
                <tr   dir-paginate="datas in vm.data_final|orderBy: 'date': 'reverse'|orderBy:vm.sortKey:vm.reverse|filter:vm.search|itemsPerPage: vm.items_per_page || 10"  >
    			<!--<tr   dir-paginate="datas in vm.data_final.data|orderBy:vm.sortKey:vm.reverse|filter:search|itemsPerPage:10"  > -->
    				<!--<td ng-bind="datas.id"></td> -->
                    <td>{{datas.date_created | date: 'MMMM dd, yyyy' }}</td>
                    <td>{{datas.reference_number}}</td>
                   
                    <td>{{datas.car_insurance_for}}</td>
                     <td>{{datas.name}}</td>
                     
                    <td> <button type="button"  
                          class="btn btn-primary  btn-sm text-capitalize"
                          ng-click="vm.viewQuote(datas.id)" > 
                             View
                           </button>
                          
                            </li>
                        </ul>
                    </td>
    			</tr>
    		</tbody>
    	</table>

        <!--
       
        <table  class="table table-bordered layout-table mobile">
            <thead >
                <div sticky offset=100>
                <tr >
                     <th style="width:70px" ng-click="vm.sort('id')">
                        <u-sort-page-directive sort-key="{{vm.sortKey}}" reverse="{{vm.reverse}}" label="" value="id"  ></u-sort-page-directive>
                    </th>
                     <th ng-click="vm.sort('name')">
                        <u-sort-page-directive sort-key="{{vm.sortKey}}" reverse="{{vm.reverse}}" label="Name" value="name"  ></u-sort-page-directive>
                    </th>
                    <th style="width:5%"></th>
                </tr>
                </div>
            </thead>
            <tbody>
                <tr dir-paginate="datas in vm.data_final|orderBy:vm.sortKey:vm.reverse|filter:search|itemsPerPage:10"  >
                    <td class="image-cropper" ui-sref="app.customer-profile({id:datas.id})"><img class="rounded img-fluid"  src="{{datas.face_front}}" /></td>
                    <td   ui-sref="app.customer-profile({id:datas.id})">{{datas.name}} <br> <span class="superscript"> last visited: {{datas.lastvisited}} </span></td>
                     <td>
                          <ul class="nav navbar-right top-nav">
                            <li class="dropdown"
                                uib-dropdown on-toggle="toggled(open)">
                                <a  class="dropdown-toggle"
                                uib-dropdown-toggle>
                                   <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-actions">
                                   <li>
                                    <a >
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        Edit
                                    </a>
                                </li>
                                <li>
                                    <a  ng-click="vm.removeCustomerModal()">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        Remove
                                    </a>
                                </li>
                                
                                </ul>
                            </li>
                        </ul>

                     </td>
                </tr>
            </tbody>
        </table>

    -->

        <dir-pagination-controls
                    max-size="10"
                    direction-links="true"
                    boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>